@import "_keyframe-animations.scss";
@import "_variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apple";
  src: url("../public/fonts/apple-sf-pro.ttf") format(".ttf");
}

@layer base {
  /*#region Colors */
  :root {
    --bg-strong-950: #171717;
    --bg-surface-800: #292929;
    --bg-sub-300: #d1d1d1;
    --bg-soft-200: #ebebeb;
    --bg-weak-50: #f7f7f7;
    --bg-white-0: #ffffff;

    --text-strong-950: #171717;
    --text-sub-600: #5c5c5c;
    --text-soft-400: #a3a3a3;
    --text-disabled-300: #d1d1d1;
    --text-white-0: #ffffff;

    --stroke-strong-950: #171717;
    --stroke-sub-300: #d1d1d1;
    --stroke-soft-200: #ebebeb;
    --stroke-white-0: #ffffff;

    --faded-dark: #292929;
    --faded-base: #7b7b7b;
    --faded-light: #ebebeb;
    --faded-lighter: #f5f5f5;

    --information-dark: theme(colors.blue.950);
    --information-base: theme(colors.blue.500);
    --information-light: theme(colors.blue.200);
    --information-lighter: theme(colors.blue.50);

    --warning-dark: theme(colors.orange.950);
    --warning-base: theme(colors.orange.500);
    --warning-light: theme(colors.orange.200);
    --warning-lighter: theme(colors.orange.50);

    --error-dark: theme(colors.red.950);
    --error-base: theme(colors.red.500);
    --error-light: theme(colors.red.200);
    --error-lighter: theme(colors.red.50);

    --success-dark: theme(colors.green.950);
    --success-base: theme(colors.green.500);
    --success-light: theme(colors.green.200);
    --success-lighter: theme(colors.green.50);

    --away-dark: theme(colors.yellow.950);
    --away-base: theme(colors.yellow.500);
    --away-light: theme(colors.yellow.200);
    --away-lighter: theme(colors.yellow.50);

    --feature-dark: theme(colors.purple.950);
    --feature-base: theme(colors.purple.500);
    --feature-light: theme(colors.purple.200);
    --feature-lighter: theme(colors.purple.50);

    --verified-dark: theme(colors.sky.950);
    --verified-base: theme(colors.sky.500);
    --verified-light: theme(colors.sky.200);
    --verified-lighter: theme(colors.sky.50);

    --highlighted-dark: theme(colors.pink.950);
    --highlighted-base: theme(colors.pink.500);
    --highlighted-light: theme(colors.pink.200);
    --highlighted-lighter: theme(colors.pink.50);

    --stable-dark: theme(colors.teal.950);
    --stable-base: theme(colors.teal.500);
    --stable-light: theme(colors.teal.200);
    --stable-lighter: theme(colors.teal.50);

    --overlay-gray: #3333333d;
    --overlay-slate: #2b303b3d;

    --overlay: var(--overlay-gray);

    --social-apple: #000;
    --social-twitter: #010101;
    --social-github: #24292f;
    --social-notion: #1e2226;
    --social-tidal: #000;
    --social-amazon: #353e47;
    --social-zendesk: #16140d;
  }

  .dark {
    --bg-strong-950: #ffffff;
    --bg-surface-800: #7b7b7b;
    --bg-sub-300: #5c5c5c;
    --bg-soft-200: #333333;
    --bg-weak-50: #292929;
    --bg-white-0: #171717;

    --text-strong-950: #ffffff;
    --text-sub-600: #d1d1d1;
    --text-soft-400: #a3a3a3;
    --text-disabled-300: #5c5c5c;
    --text-white-0: #171717;

    --stroke-strong-950: #ffffff;
    --stroke-sub-300: #ebebeb;
    --stroke-soft-200: #d1d1d1;
    --stroke-white-0: #171717;

    --faded-dark: #f5f5f5;
    --faded-base: #ebebeb;
    --faded-light: #7b7b7b;
    --faded-lighter: #292929;

    --information-dark: theme(colors.blue.400);
    --information-base: theme(colors.blue.500);
    --information-light: theme("colors.blue.500 / 0.24");
    --information-lighter: theme("colors.blue.500 / 0.16");

    --warning-dark: theme(colors.orange.400);
    --warning-base: theme(colors.orange.600);
    --warning-light: theme("colors.orange.600 / 0.24");
    --warning-lighter: theme("colors.orange.600 / 0.16");

    --error-dark: theme(colors.red.400);
    --error-base: theme(colors.red.600);
    --error-light: theme("colors.red.600 / 0.24");
    --error-lighter: theme("colors.red.600 / 0.16");

    --success-dark: theme(colors.green.400);
    --success-base: theme(colors.green.600);
    --success-light: theme("colors.green.600 / 0.24");
    --success-lighter: theme("colors.green.600 / 0.16");

    --away-dark: theme(colors.yellow.400);
    --away-base: theme(colors.yellow.600);
    --away-light: theme("colors.yellow.600 / 0.24");
    --away-lighter: theme("colors.yellow.600 / 0.16");

    --feature-dark: theme(colors.purple.400);
    --feature-base: theme(colors.purple.500);
    --feature-light: theme("colors.purple.500 / 0.24");
    --feature-lighter: theme("colors.purple.500 / 0.16");

    --verified-dark: theme(colors.sky.400);
    --verified-base: theme(colors.sky.600);
    --verified-light: theme("colors.sky.600 / 0.24");
    --verified-lighter: theme("colors.sky.600 / 0.16");

    --highlighted-dark: theme(colors.pink.400);
    --highlighted-base: theme(colors.pink.600);
    --highlighted-light: theme("colors.pink.600 / 0.24");
    --highlighted-lighter: theme("colors.pink.600 / 0.16");

    --stable-dark: theme(colors.teal.400);
    --stable-base: theme(colors.teal.600);
    --stable-light: theme("colors.teal.600 / 0.24");
    --stable-lighter: theme("colors.teal.600 / 0.16");

    --overlay-gray: #3333338f;
    --overlay-slate: #2b303b8f;

    --overlay: var(--overlay-gray);

    --social-apple: #fff;
    --social-twitter: #fff;
    --social-github: #fff;
    --social-notion: #fff;
    --social-tidal: #fff;
    --social-amazon: #fff;
    --social-zendesk: #fff;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.fadeout-horizontal-sm {
  mask-image: linear-gradient(
    to right,
    transparent,
    black theme("spacing.10"),
    black calc(100% - theme("spacing.10")),
    transparent
  );
}

.fadeout-horizontal {
  mask-image: linear-gradient(
    to right,
    transparent,
    black theme("spacing.20"),
    black calc(100% - theme("spacing.20")),
    transparent
  );
}

.fadeout-horizontal-lg {
  mask-image: linear-gradient(
    to right,
    transparent,
    black theme("spacing.32"),
    black calc(100% - theme("spacing.32")),
    transparent
  );
}

.gradient-blur {
  position: absolute;
  z-index: 5;
  inset: auto 0 0 0;
  height: 100%;
  pointer-events: none;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}
.gradient-blur::before {
  content: "";
  z-index: 1;
  /* background: rgba(193, 19, 19, 0.5); */
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  /* background: rgba(57, 193, 19, 0.5); */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  /* background: rgba(19, 193, 187, 0.5); */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  /* background: rgba(54, 19, 193, 0.5); */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  /* background: rgba(184, 19, 193, 0.5); */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  /* background: rgba(184, 19, 193, 0.5); */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  /* background: rgba(193, 19, 167, 0.5); */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  /* background: rgba(193, 19, 33, 0.5); */
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

.gradient-blur.reverse::before {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradient-blur.reverse > div:nth-of-type(1) {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}

.gradient-blur.reverse > div:nth-of-type(2) {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}

.gradient-blur.reverse > div:nth-of-type(3) {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}

.gradient-blur.reverse > div:nth-of-type(4) {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}

.gradient-blur.reverse > div:nth-of-type(5) {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}

.gradient-blur.reverse > div:nth-of-type(6) {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 0) 25%
  );
}

.gradient-blur.reverse::after {
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 12.5%);
}
/* custom scale for Remix Icon */
.remixicon path {
  transform: scale(0.8996);
  transform-origin: center;
}
